body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(#648df7,#5711a8);
  background-attachment:fixed;
  background-position: center;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}
